{{ define "main" }}
<div class="section">
  <article class="container">
    <header>
      <div class="is-flex">
        {{ with .Params.featured_image }}
        <figure class="image is-96x96" style="margin-right: 0.5em;">
          <img class="is-rounded" src="{{ . }}" />
        </figure>
        {{ end }}
        <div>
          <h1 class="title is-1">
            {{ .Title }}
          </h1>
          <h6 class="subtitle is-6">
            {{ .Summary }}
          </h6>
        </div>
      </div>
      <div style="margin-top: 1em;">
        <span class="tag is-primary is-light">{{ .Params.Time }}</span>
        {{ range .Params.Tags }}
        <a class="tag" href="/tags/{{ . }}">{{ . }}</a>
        {{ end }}
      </div>
    </header>
    <div class="content" style="margin-top: 1em;">
      {{ .Content }}
    </div>
  </article>
</div>
{{ end }}
